$dark-gray: #212429;
$light-green: #c0dcb5;
$light-yellow: #f2efe8;
$light-blue: #7092fe;

:root {
	--dark-gray: #{$dark-gray};
	--light-green: #{$light-green};
	--light-yellow: #{$light-yellow};
	--light-blue: #{$light-blue};
}
